@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(90deg, hsl(240deg, 73%, 65%), hsl(273deg, 75%, 66%));
  min-height: 100vh;
}

.box {
  display: none;
}

.container {
  width: 90%;
  min-width: 200px;
  max-width: 1400px;
  margin: 150px auto 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25px 55px 25px;
  border-radius: 20px;
  background-color: #fff;
  background-image: url("../assets/bg-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center top;
}

.image-container {
  width: 80%;
  transform: translateY(-57%);
  flex: 1;
}

.text-container {
  flex: 2;
}
.text-container h1 {
  text-align: center;
  font-size: 3.4rem;
  margin-top: -40px;
  margin-bottom: 35px;
  color: hsl(238deg, 29%, 16%);
}
.text-container section {
  border-bottom: 1px solid hsl(240deg, 5%, 91%);
}
.text-container section .accordion-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.text-container section .accordion-head .question {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 15px 0;
  color: hsl(237deg, 12%, 33%);
}
.text-container section .accordion-head .question:hover {
  color: hsl(14deg, 88%, 65%);
}
.text-container section .accordion-head .arrow {
  height: 0.8rem;
  transition: 0.3s all;
}
.text-container section .accordion-head.active .question {
  color: hsl(238deg, 29%, 16%);
  font-weight: 700;
}
.text-container section .accordion-head.active .question:hover {
  color: hsl(14deg, 88%, 65%);
}
.text-container section .accordion-head.active .arrow {
  transform: rotate(180deg);
}
.text-container section .accordion-head.active + .answer {
  margin-bottom: 15px;
  max-height: 100px;
}
.text-container section .answer {
  color: hsl(240deg, 6%, 50%);
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s;
}

@media (min-width: 740px) {
  .box {
    display: inline;
    z-index: 1;
    position: absolute;
    top: 52%;
    left: 1%;
  }
  .container {
    flex-direction: row;
    padding: 40px 0;
    overflow: hidden;
    background-image: url("../assets/bg-pattern-desktop.svg");
    background-position: -25% 50%;
    background-size: 50%;
  }
  .image-container {
    transform: translate(-17%, 0);
  }
  .text-container {
    margin: 20px 60px;
  }
  .text-container h1 {
    margin-top: 0;
    text-align: left;
  }
}