@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 13px;
}

html {
  font-family: "Overpass", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(216deg, 12%, 8%);
}

.card {
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 25px;
  background-color: hsl(213deg, 19%, 18%);
  border-radius: 15px;
  padding: 25px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}
.header.left-align {
  align-self: flex-start;
}
.header .star-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #303a46;
}
.header .star-container .star-icon {
  height: 14px;
}
.header .rating-text {
  color: hsl(25deg, 97%, 53%);
  background-color: #303a46;
  padding: 7px 15px 5px 15px;
  border-radius: 15px;
}

.text h1 {
  color: hsl(0deg, 0%, 100%);
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.text p {
  color: hsl(217deg, 12%, 63%);
}
.text.center-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text.center-align p {
  text-align: center;
}

.rating-area {
  width: 100%;
}
.rating-area .rating-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.rating-area .rating-list .rating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #303a46;
  color: hsl(217deg, 12%, 63%);
  padding-top: 2px;
  cursor: pointer;
}
.rating-area .rating-list .rating:hover {
  background-color: hsl(25deg, 97%, 53%);
  color: hsl(0deg, 0%, 100%);
}
.rating-area .rating-list .rating.active {
  background-color: hsl(217deg, 12%, 63%);
  color: hsl(0deg, 0%, 100%);
}
.rating-area button {
  width: 100%;
  height: 40px;
  border: none;
  background-color: hsl(25deg, 97%, 53%);
  color: hsl(0deg, 0%, 100%);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 700;
  border-radius: 40px;
  cursor: pointer;
}
.rating-area button:hover {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(25deg, 97%, 53%);
}