@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  outline: none;
  border: 1px solid #000;
  border-radius: 0;
}

:root {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  background-image: url("../assets/bg-intro-mobile.png");
  background-position: center;
  background-repeat: repeat;
  background-color: hsl(0deg, 100%, 74%);
  max-width: 1200px;
}

header,
main,
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 420px;
}

header {
  margin: 60px auto;
}
header .hero-title {
  color: hsl(0deg, 0%, 100%);
  margin-bottom: 20px;
  line-height: 2.4rem;
}
header .hero-para {
  color: #e7e6f0;
}

.trial {
  background-color: hsl(248deg, 32%, 49%);
  padding: 20px 50px;
  border-radius: 10px;
  margin-bottom: 25px;
  box-shadow: 0 8px 3px rgba(0, 0, 0, 0.3);
}
.trial .trial-para {
  color: #e7e6f0;
}
.trial .trial-para .free-period {
  color: hsl(0deg, 0%, 100%);
  font-weight: 600;
}

.form-container {
  background-color: hsl(0deg, 0%, 100%);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 25px;
  box-shadow: 0 8px 3px rgba(0, 0, 0, 0.3);
}
.form-container .tos-para {
  font-size: 0.5rem;
  color: hsl(246deg, 25%, 77%);
  margin-top: 10px;
}
.form-container .tos-para a {
  color: hsl(0deg, 100%, 74%);
  text-decoration: none;
  font-weight: 600;
}

.input-group {
  position: relative;
}
.input-group * {
  margin: 8px 0;
}
.input-group input {
  height: 2.8rem;
  width: 100%;
  font-size: 0.75rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 10px 40px 10px 15px;
  border: 1px solid hsl(246deg, 25%, 77%);
  border-radius: 3px;
}
.input-group input ~ span {
  position: relative;
  display: none;
  font-size: 0.5rem;
  color: #ff4747;
  text-align: right;
  font-weight: 600;
  margin: -5px 2px 0 0;
}
.input-group input:focus {
  outline: 1px solid hsl(249deg, 10%, 26%);
}
.input-group label {
  display: none;
}

.submit-btn {
  margin-top: 10px;
  height: 2.8rem;
  font-size: 0.85rem;
  font-weight: 500;
  border: none;
  border-radius: 3px;
  background-color: hsl(154deg, 59%, 51%);
  color: hsl(0deg, 0%, 100%);
  letter-spacing: 1px;
  box-shadow: 0 5px 3px #2ba671;
  outline: none;
  cursor: pointer;
}
.submit-btn:hover, .submit-btn:focus {
  background-color: #61d6a3;
}

input:invalid:not(:focus):not(:-moz-placeholder-shown) {
  border: 1px solid #ff4747;
  color: #ff4747;
}

input:invalid:not(:focus):not(:-ms-input-placeholder) {
  border: 1px solid #ff4747;
  color: #ff4747;
}

input:invalid:not(:focus):not(:placeholder-shown) {
  border: 1px solid #ff4747;
  color: #ff4747;
}
input:invalid:not(:focus):not(:-moz-placeholder-shown) ~ span {
  display: block;
}
input:invalid:not(:focus):not(:-ms-input-placeholder) ~ span {
  display: block;
}
input:invalid:not(:focus):not(:placeholder-shown) ~ span {
  display: block;
}
input:invalid:not(:focus):not(:-moz-placeholder-shown) ~ span::before {
  position: absolute;
  top: -38px;
  right: 5px;
  content: url(../assets/icon-error.svg);
}
input:invalid:not(:focus):not(:-ms-input-placeholder) ~ span::before {
  position: absolute;
  top: -38px;
  right: 5px;
  content: url(../assets/icon-error.svg);
}
input:invalid:not(:focus):not(:placeholder-shown) ~ span::before {
  position: absolute;
  top: -38px;
  right: 5px;
  content: url(../assets/icon-error.svg);
}
input:invalid:not(:focus):not(:-moz-placeholder-shown)[name=user-firstname] ~ span::after {
  content: "First Name cannot be empty";
}
input:invalid:not(:focus):not(:-ms-input-placeholder)[name=user-firstname] ~ span::after {
  content: "First Name cannot be empty";
}
input:invalid:not(:focus):not(:placeholder-shown)[name=user-firstname] ~ span::after {
  content: "First Name cannot be empty";
}
input:invalid:not(:focus):not(:-moz-placeholder-shown)[name=user-lastname] ~ span::after {
  content: "Last Name cannot be empty";
}
input:invalid:not(:focus):not(:-ms-input-placeholder)[name=user-lastname] ~ span::after {
  content: "Last Name cannot be empty";
}
input:invalid:not(:focus):not(:placeholder-shown)[name=user-lastname] ~ span::after {
  content: "Last Name cannot be empty";
}
input:invalid:not(:focus):not(:-moz-placeholder-shown)[name=user-email] ~ span::after {
  content: "Must be a valid email, e.g.: example@mail.com";
}
input:invalid:not(:focus):not(:-ms-input-placeholder)[name=user-email] ~ span::after {
  content: "Must be a valid email, e.g.: example@mail.com";
}
input:invalid:not(:focus):not(:placeholder-shown)[name=user-email] ~ span::after {
  content: "Must be a valid email, e.g.: example@mail.com";
}
input:invalid:not(:focus):not(:-moz-placeholder-shown)[name=user-pass] ~ span::after {
  content: "Password must be a at least 8 characters";
}
input:invalid:not(:focus):not(:-ms-input-placeholder)[name=user-pass] ~ span::after {
  content: "Password must be a at least 8 characters";
}
input:invalid:not(:focus):not(:placeholder-shown)[name=user-pass] ~ span::after {
  content: "Password must be a at least 8 characters";
}

@media (min-width: 600px) {
  body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 45px;
    padding: 0 60px;
    margin: 0 auto;
    background-image: url("../assets/bg-intro-desktop.png");
  }
  body header {
    text-align: left;
  }
  body header,
body main,
body form {
    max-width: 450px;
  }
}