@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 25px;
  background-image: url("../assets/bg-intro-mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: hsl(0deg, 100%, 74%);
}

header,
main,
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

header {
  margin: 50px auto;
}
header .hero-title {
  color: hsl(0deg, 0%, 100%);
  margin-bottom: 20px;
}
header .hero-para {
  color: #e7e6f0;
}